.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.cont{
    width: 309px;
    height: 320px;
    /* -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16); */
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
.cont > div {
    width: 100%;
    height: 200px;
    background-color: #E5E5E5;
    position: relative;
    margin-bottom: 10px;
}
.cont > div img {
    width: 100%;
    height: 100%;
}
.cont > div button {
    width: 127px;
    height: 44px;
    padding: 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}
.title-card h5{
    width: 309px;
    font-weight: 600;
    color: #19181F;
    font-size: 20px;
    margin-bottom: 15px;
}
.date-icons {
    display: flex;
}
.date-icons span {
    margin-right: 21px;
}